html,
body {
  margin: 0;
  padding: 0;
}

#juego {
  background-image: url(./images/portada.jpg);
  width: 100vw;
  height: 100vh;
  padding-bottom: 120px;
  padding-top: 66vh;
  padding-left: 43vw;
}

#gameover {
  background-image: url(./images/gameover.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.unvisible {
  display: none
}

#start-button {
  width: 310px;
  height: 40px;
  font-size: 25px;
  background-image: url(./images/boton.png);
  margin-bottom: 250px;

}